@using jQueryAjaxDemo.BusinessLogic
@using Microsoft.AspNet.Identity
@model List<jQueryAjaxDemo.Models.ImageModel>
@{
    ViewBag.Title = "Gallery Images";
}

<h2>Gallery Images</h2>

@for (var i = 0; i < Model.Count; i += 3)
{
    <div class="row gallerypadding">
        @for (int j = i; j <= Math.Min(2 + i, Model.Count - 1); j++)
        {
            <div class="col-md-3">
                <div class="col-md-12 gallery" style="background-image: url('@Model[j].ImageUri')"></div>
                <input type="hidden" class="imageId" value="@Model[j].ImageId" />
                <div>
                    <input type="hidden" class="imageId" value="@Model[j].ImageId" />
                    @{
                        var anchorvisible = UIMethods.UserLikes(User.Identity.GetUserId(), Model[j].ImageId) ? "notvisible" : "visible";
                        var spanvisible = UIMethods.UserLikes(User.Identity.GetUserId(), Model[j].ImageId) ? "visible" : "notvisible";
                    }
                    <a href="#" class="like @anchorvisible" id="a_@Model[j].ImageId"><img src="~/Content/Images/fb_thumb.png" /></a><span id="sp_@Model[j].ImageId" class="liked @spanvisible">Liked</span>
                    <span>@String.Format("{0} Likes", Model[j].TotalLikes)</span>
                </div>
            </div>
        }
    </div>
}
<input type="hidden" id="userId" value="@User.Identity.GetUserId()" />



@section scripts{
    <script>
        $(function () {
            $(".like").click(function () {
                var imageId = $(this).siblings("input.imageId:hidden").val();
                $.ajax({
                    dataType: "json",
                    data: {
                       userId: $("#userId").val(),
                       imageId: imageId
                    },
                    url: "/Gallery/AddLike",
                    async: false,
                    cache: false,
                    success: function (data) {
                        window.location.href = "/Gallery/Index";
                    },
                    error: function (jqXHR, exception) {
                        alert("Sorry, there has been an error");
                    }

                });
            });
        });
    </script>
}